# Spring Boot API 서버 URL
NEXT_PUBLIC_API_URL=http://localhost:8080

# AI 서버 URL
NEXT_PUBLIC_AI_URL=http://localhost:8000

# Next.js
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
